@import "./utils";


.container{
    display: flex;
    background-color: rgb(83, 83, 218);
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}
li{
    list-style: none;
    text-align: center;

    img{
        display: block;
    margin: 0 auto;
    }
}
a{
    padding-top: 10px;
    color: white;
    text-decoration: inherit;
}

.middle-container{
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2%;
    // align-items: flex-start;

    .inner-container{
        width: 70%;
    }

    .aside-right{
        // display: flex;
        background-color: lightcoral;
        width: 25%;
        border-radius: 5px;
    }

    article{
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
}




.item{
    flex-grow: 2;
}

#footer{
    display: flex;
    background-color: lightpink;
    margin-top: 2rem;
    border-radius: 5px;
}

.col-footers{
    flex-grow:1;
    padding: 3px 6px;
    background-color: lightskyblue;
    border-radius: 5px;
    text-align: center;
}

.col-footer2{
    flex-grow:4;
    padding: 3px 6px;
}